on:
  push:
    branches: main
  pull_request:
    branches: main

name: Render and Publish

jobs:
  build-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v3

      - name: Set up Quarto
        uses: quarto-dev/quarto-actions/setup@v2
        with:
          version: 1.0.38

      # add software dependencies here
      # - name: Install additional libraries on Linux
      #   if: runner.os == 'Linux'
      #   run: |
      #     sudo apt-get update -y && sudo apt-get install -y libcurl4-openssl-dev

      - uses: actions/setup-python@v3
        with:
          python-version: 3.9
          cache: pip # caching pip dependenciess

      - uses: r-lib/actions/setup-r@v2
        with:
          use-public-rspm: true

      - name: Set up renv
        uses: r-lib/actions/setup-renv@v2

      - name: Python Shared?
        run: |
         which python
         python --version
         python -c "import sysconfig; print(sysconfig.get_config_var('Py_ENABLE_SHARED'))"

      - name: Diagnose Python
        env:
          RETICULATE_PYTHON: "./renv/python/virtualenvs/renv-python-3.9/bin/python"
        run: |
          # reticulate::py_available(initialize = TRUE)
          reticulate::py_discover_config()
        shell: Rscript {0}

      - name: Render Quarto Project
        uses: quarto-dev/quarto-actions/render@v2

      - name: Publish to GitHub Pages
        if: github.event_name != 'pull_request'
        uses: quarto-dev/quarto-actions/publish@v2
        with:
          render: false
          target: gh-pages
